<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperDoctors</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="new" class="menu-index">
      Add new doctor
    </LinkTo>
  </div>
</nav>