<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperDoctors</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="newdoctor" class="menu-index">
    Nieuwe dokter
    </LinkTo>
    <LinkTo @route="newpractice" class="menu-index">
    Nieuwe Praktijk
    </LinkTo>
    <LinkTo @route="about" class="menu-about">
      Over ons
    </LinkTo>
    <LinkTo @route="contact" class="menu-index">
      Contact
    </LinkTo>
  </div>
</nav>