@tailwind base;
@tailwind components;
@tailwind utilities;


.inputfield {
    border: 1px solid #ccc;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: border-color 0.3s ease;
  }
  
  .inputfield:focus {
    outline: none;
    border-color: #6b46c1;
    box-shadow: 0 0 0 2px rgba(107, 70, 193, 0.2);
  }