<div class="flex justify-center">
<div class="max-w-md">
  {{page-title "About"}}

  <Jumbo>
    <h2 class="text-5xl">About Super Doctors</h2>
    <p class="mt-8">
      The Super Doctors website is a delightful project created to explore
      Ember. By building a property rental site, we can simultaneously imagine
      traveling AND building Ember applications.
    </p>
    <LinkTo
      @route="contact"
      class="m-28 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >Contact us</LinkTo>
  </Jumbo>
</div>
</div>