<Jumbo>
  <h2 class="text-5xl font-bold p-6">All Doctors</h2>

  {{#each @model.doctor as |doctor|}}
    <Doctors @doctor={{doctor}} />
  {{/each}}

  <h2 class="text-5xl font-bold p-6">All Practices</h2>

  {{#each @model.practice as |practice|}}
    <Practices @practice={{practice}} />
  {{/each}}
</Jumbo>