
  <Jumbo>
    <h2 class="text-5xl font-bold m-6">All Doctors</h2>

    {{#each @model.doctor as |doctor|}}
      <Doctors @doctor={{doctor}} />
    {{/each}}

    <h2 class="text-5xl font-bold">All Practices</h2>

    {{#each @model.practice as |practice|}}
      <Practices @practice={{practice}} />
    {{/each}}
  </Jumbo>